/* Reset styles for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Color scheme variables */
:root {
    --bg: hsl(0, 100%, 98%);
    --text: hsl(0, 36%, 70%);
    --shadow: hsl(0, 36%, 68%);
}

/* Body styles */
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}

/* Font import */
@font-face {
    font-family: 'Josefin';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin-Light';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Light.ttf') format('truetype');
}

/* Common styles for text elements */
h1, p {
    text-align: center;
    font-weight: 300;
    margin: 3rem;
    font-family: "Josefin", sans-serif;
}

/* Heading styles */
h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 2.7rem;
}

/* Paragraph styles */
p {
    font-size: 0.9rem;
    color: var(--text);
}

/* Logo container styles */
.logo-container img {
    margin: 2rem;
}

/* Hero container styles */
.hero-container img {
    width: 100vw;
}

.hero-desktop {
    display: none;
}

span {
    color: var(--text);
    font-family: "Josefin-Light", sans-serif;
}

/* Form styles */
.send-email-button {
    margin: 2rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Input styles */
input {
    border: 1px solid var(--text);
    border-radius: 20px;
    width: 100%;
    padding: 0.8rem 1rem;
}

input:focus {
    outline: none;
}

/* Button styles */
button {
    border: none;
    border-radius: 19px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 18%;
    height: 97%;
    right: 1px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    box-shadow: var(--shadow) 0 10px 10px;
}

/* Placeholder styles for input */
::placeholder {
    color: var(--text);
}

/* Media query for devices with screen width greater than or equal to 1024px */
@media (min-width: 1025px) {
    body {
        background-image: url("../Starterkit/images/bg-pattern-desktop.svg");
    }

    .hero-desktop {
        display: block;
    }

    .hero-mobile {
        display: none;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .logo-container,
    .content,
    .send-email-button {
        margin: 0 55vw 0 12vw;
        width: 60vw;
    }

    .logo-container img {
        margin-top: 7vh;
        margin-left: 0;
        width: 11vw;
    }

    .hero-container {
        position: absolute;
        right: 0;
        width: 40vw;
        overflow: hidden;
    }

    .hero-container img {
        height: 100vh;
        width: auto;
    }

    h1, p {
        text-align: left;
        margin-left: 0;
    }

    h1 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 1rem;
        line-height: 4.7rem;
        margin-top: 6rem;
    }

    span {
        font-weight: 300;
    }

    p {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    input {
        height: 1.5rem;
        border-radius: 40px;
    }

    .send-email-button {
        margin-bottom: 11rem;
        height: 2rem;
    }

    button {
        height: 3.1rem;
        border-radius: 39px;
    }
}